.swiper {
    width: 100%;
    height: 15%;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination .swiper-pagination-bullet {
    /* Set the color of the inactive pagination bullets */
    background-color: #000;
}
.swiper-button-prev,
.swiper-button-next {
    /* Set the color of the navigation arrows */
    color: black;
}
